@if (ProjectItem != null)
{
    <MatCard class="tc-card-main" Stroke="false">
        <MatH5>Detalhes do Item</MatH5>

        <MatTabGroup @bind-ActiveIndex="@selectedTab">
            <MatTab Label="Dados Gerais">

                <MatCard>
                    <MatBody1 class="tc-form-inline">
                        <div class="mat-layout-grid">
                            <div class="mat-layout-grid-inner">

                                <MatTextField class="mat-layout-grid-cell mat-layout-grid-cell-span-2"
                                              Label="Num. do Item" Outlined="true" 
                                              @bind-Value="@ProjectItem.ItemNumber" />

                                <MatTextField class="mat-layout-grid-cell mat-layout-grid-cell-span-2"
                                              Label="OF" Outlined="true" 
                                              @bind-Value="@ProjectItem.OfNumber" />

                                <MatTextField class="mat-layout-grid-cell mat-layout-grid-cell-span-2"
                                              Label="Num. Documento" Outlined="true" 
                                              @bind-Value="@ProjectItem.DocNumber" />

                                <MatTextField class="mat-layout-grid-cell mat-layout-grid-cell-span-6"
                                              Label="Nome do Documento" Outlined="true" 
                                              @bind-Value="@ProjectItem.Name" />

                            </div>
                        </div>
                    </MatBody1>
                </MatCard>

            </MatTab>
            <MatTab Label="Lista de Reposição">
                <MatCard>
                    <MatCardContent>
                        <h4>Itens de Repoisção</h4>
                    </MatCardContent>
                </MatCard>
                <MatCard>
                    <MatCardContent>
                        <h4>Itens de Repoisção</h4>
                    </MatCardContent>
                </MatCard>

                <MatCard>
                    <MatCardContent>
                        <h4>Itens de Repoisção</h4>
                    </MatCardContent>
                </MatCard>
            </MatTab>
        </MatTabGroup>

    </MatCard>
}
else
{
    <h4>Carregando Dados...</h4>
    <h4>Aguarde ...</h4>
}

@code {
    [Parameter]
    public ProjectItem ProjectItem { get; set; }

    int selectedTab = 0;

    //public void OnSelectTabChange(MouseEventArgs e)
    //{
    //    selectedTab = selectedTab <;
    //}

}
