@page "/projectv2"
@page "/projectv2/{id}"
@inherits TecniCAD.ProjectManagerPortal.Components.ProjectViewV2.ProjectViewV2Base
@using TecniCAD.ProjectManagerPortal.Components.EditItem
@using TecniCAD.ProjectManagerPortal.Components.ProjectViewV2.Title
@using TecniCAD.ProjectManagerPortal.Components.ProjectViewV2.EditArea


<ProjectTitle Project="project"></ProjectTitle>

@*Edit Itens*@
@if (modeItem == Mode.Add)
{
    <CascadingValue Value="@projectItem" Name="ProjectItem">
        <EditItemComponent></EditItemComponent>
    </CascadingValue>
}
else
{
    <p />
}

@if (project != null)
{
    @*DataGrid*@

    @if (modeItem == Mode.Edit)
    {
        @if (projectItem != null)
        {
            <EditItemArea ProjectItem="projectItem"></EditItemArea>
        }
    }
    <MatTable Items="@project.Items" AllowSelection="true" FilterByColumnName="OF"        >
        <MatTableHeader>
            <th>Item</th>
            <th>OF</th>
            <th>Descrição</th>
            <th>Nº Documento</th>
            <th>Nome do Documento</th>
            <th>Código ERP</th>
            <th>Tipo</th>
            <th>Opções</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.ItemNumber</td>
            <td>@context.OfNumber</td>
            <td>@context.Name</td>
            <td>@context.DocNumber</td>
            <td>@context.FileLink.Name</td>
            <td>@context.FileLink.Code</td>
            <td>@context.FileLink.FileType</td>
            <td><MatButton Raised="true" Icon="favorite" OnClick="@(e => EditItem(context))">Editar</MatButton></td>
        </MatTableRow>
</MatTable>

    @*<DataGrid TItem="ProjectItem"
              Data="@itemlList"
              @bind-SelectedRow="@projectItemSelected"
              Striped="true"
              Borderless="true"
              Sortable="true"
              ShowPager="true"
              PageSize="10"
              Bordered="true"
              Hoverable="true"
              Responsive="true"
              DetailRowTrigger="@((item) => item.ProjectItemId == projectItemSelected?.ProjectItemId)">
        <DataGridColumns>
            <DataGridCommandColumn TItem="ProjectItem" EditCommandAllowed="true" CancelCommandAllowed="true" DeleteCommandAllowed="true" NewCommandAllowed="true" SaveCommandAllowed="true">
                <NewCommandTemplate>
                    <Button Color="Color.Success">Edit</Button>
                </NewCommandTemplate>
            </DataGridCommandColumn>
            <DataGridColumn TItem="ProjectItem" Field="@nameof(ProjectItem.ItemNumber)" Caption="Item"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="@nameof(ProjectItem.OfNumber)" Caption="Número OF"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="@nameof(ProjectItem.Name)" Caption="Descrição do Item"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="@nameof(ProjectItem.DocNumber)" Caption="Número do Desenho"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="FileLink.Name" Caption="Manual"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="FileLink.Code" Caption="Código ERP"></DataGridColumn>
            <DataGridColumn TItem="ProjectItem" Field="FileLink.FileType" Caption="Tipo"></DataGridColumn>
        </DataGridColumns>
        <DetailRowTemplate>
            @{
                var itemContext = (context as ProjectItem)?.SparePartsCollections;
                <Card>
                    <CardTitle>Detalhes</CardTitle>
                    <CardBody>                        
                        <div>
                            Quantidade de peças de reposição: @itemContext.Count
                        </div>
                    </CardBody>
                </Card>
            }
        </DetailRowTemplate>
    </DataGrid>*@
}

