@page "/project"
@page "/project/{id}"
@inherits TecniCAD.ProjectManagerPortal.Pages.ProjectView.ProjectViewBase
@using TecniCAD.ProjectManagerPortal.Components
@using TecniCAD.ProjectManagerPortal.Services
@inject IProjectService apiProject;
@inject IManualService apiManual;

<div id="tcMainContainer" class="container-fluid">
    <div class="tc-page-col col">

        @*Header Project*@
        <ProjectHeader Project="@project"></ProjectHeader>

        @*Action Butons*@
        <div class="tc-buttons-container">
            <button class="btn btn-outline-danger" @onclick="AddItem">Adicionar Item</button>
            <button class="btn btn-warning" @onclick="ComposeEmail">Enviar Email</button>
        </div>

        @*Card Enviar Email*@
        <CascadingValue Value="@modeEmail" Name="SendEmail">
            <CascadingValue Value="@project" Name="Project">
            <CascadingValue Value="@email" Name="EmailContent">
                <SendEmailView></SendEmailView>
            </CascadingValue>
            </CascadingValue>
        </CascadingValue>
        <p />
        @*Edit Itens*@
        @if (modeItem == Mode.Add || modeItem == Mode.Edit)
        {
            @*<div id="tcComponent" class="row">*@
            <div id="tcCard" class="col tc-card-item-2">
                <div class="tc-card-header">
                    <h4>Adicionar | Editar Item</h4>
                </div>
                <div class="tc-card-body">
                    <div class="form-row">
                        <div class="col-1">
                            <TcInputBox Label="Item" PlaceHolder="Número do Item" @bind-Text="projectItem.ItemNumber"></TcInputBox>
                        </div>
                        <div class="col-2">
                            <TcInputBox Upercase="true" Label="OF" PlaceHolder="Número da OF" @bind-Text="projectItem.OfNumber"></TcInputBox>
                        </div>
                        <div class="col-1">
                            <TcInputBox Upercase="true" Label="Desenho" PlaceHolder="Número da OF" @bind-Text="projectItem.DocNumber"></TcInputBox>
                        </div>
                        <div class="col">
                            <TcInputBox Upercase="true" Label="Nome do Documento" PlaceHolder="Descrição do documento" @bind-Text="projectItem.Name"></TcInputBox>
                        </div>
                    </div>
                    @if (FileLinkSelected != null)
                    {
                        <div class="form-row">
                            <div class="col-1">
                                <TcInputBox Label="ID" PlaceHolder="@FileLinkSelected.FileLinkId.ToString()" IsReadOnly="true"></TcInputBox>
                            </div>
                            <div class="col-1">
                                <TcInputBox Label="Código" @bind-Text="@FileLinkSelected.Code" IsReadOnly="true"></TcInputBox>
                            </div>
                            <div class="col">
                                <TcInputBox Label="Nome - Descrição" @bind-Text="@FileLinkSelected.Name" IsReadOnly="true"></TcInputBox>
                            </div>
                        </div>
                    }
                </div>
                <div class="tc-card-footer">
                    <button class="btn btn-info" @onclick="GetManuals">Selecionar Manual</button>&emsp;&emsp;
                    <button class="btn btn-success" @onclick="SaveItem">Salvar Item</button>
                    <button class="btn btn-danger" @onclick="CancelItem">Cancelar Item</button>
                </div>

                @* Card lista de Manuais *@
                @if (modeSelect == Mode.Add)
                {
                    <p></p>
                    <div class="tc-card-body">
                        <div class="form-row">
                            <ManualList @bind-FileLink="FileLinkSelected" OptionsButton="false" SelectButton="true"></ManualList>
                        </div>
                    </div>
                }

            </div>
            @*</div>*@
            <p></p>

        }
        <p />
        <div class="row">
            <div id="tcLista" class="col">
                <p class="tc-title">Itens do Projeto</p>
                <p></p>
                <table class="table table-hover table-striped table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center" scope="col">Item</th>
                            <th class="text-center" scope="col">Número OF</th>
                            <th class="text-center" scope="col">Descrição do Item</th>
                            <th class="text-center" scope="col">Número do Desenho</th>
                            <th class="text-center" scope="col">Manual</th>
                            <th class="text-center" scope="col">Código ERP</th>
                            <th class="text-center" scope="col">Tipo</th>
                            <th class="text-center" scope="col">Opções</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (project != null)
                        {
                            if (project.Items.Count > 0)
                            {
                                @foreach (ProjectItem item in itemlList)
                                {
                                    <tr class="@IsManualExist(item)">
                                        <td class="align-middle" width="100">@item.ItemNumber</td>
                                        <td class="align-middle" width="200">@item.OfNumber</td>
                                        <td class="align-middle">@item.Name</td>
                                        <td class="align-middle">@item.DocNumber</td>
                                        <td class="align-middle">@item.FileLink.Name</td>
                                        <td class="align-middle">@item.FileLink.Code</td>
                                        <td class="align-middle">@item.FileLink.FileType</td>
                                        <td class="align-middle" width="100">
                                            @*Area dos Botões*@
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-info" @onclick="@(() => OpenDataView())">Itens Reposição</button>
                                                <button class="btn btn-info" @onclick="@(() => EditItem(item))">Editar</button>
                                                <button class="btn btn-outline-primary" @onclick="@(() => DuplicateItem(item))">Duplicar</button>
                                                <a class="btn btn-success" href="@item.FileLink.FilePath"
                                                   role="button" aria-pressed="true" target="_blank">Acessar</a>
                                                <button class="btn btn-danger" @onclick="@(() => DeleteItem(item.ProjectItemId))">Excluir</button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>
                                        <h4>Sem Itens no Projeto</h4>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
