@page "/project"
@page "/project/{id}"
@inherits TecniCAD.ProjectManagerPortal.Pages.ProjectView.ProjectViewBase
@using TecniCAD.ProjectManagerPortal.Components

<div id="tcMainContainer" class="container-fluid">
    <div class="tc-page-col col">

        @*Header Project*@
        <ProjectHeader Project="@project"></ProjectHeader>
        
        @*Action Butons*@
        <div class="tc-buttons-container">
            <button class="btn btn-outline-danger" @onclick="AddItem">Adicionar Item</button>
            <button class="btn btn-warning" @onclick="ComposeEmail">Enviar Email</button>
        </div>

        @*Card Enviar Email*@
        <CascadingValue Value="@modeEmail" Name="SendEmail">
            <CascadingValue Value="@project" Name="Project">
                <CascadingValue Value="@email" Name="EmailContent">
                    <SendEmailView></SendEmailView>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
        <p />
        @*Edit Itens*@
        <!--<CascadingValue Value="projectItem" Name="ProjectItem">
            <CascadingValue Value="project" Name="Project">
                <CascadingValue Value="modeItem" Name="ModeItem">
                    <EditItem></EditItem>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
        <p />-->    

        @*Itenm List*@
        <p class="tc-title">Itens do Projeto</p>
        <div>
            <div>                
                    @if (project != null)
                    {
                        if (project.Items.Count > 0)
                        {
                            <MatAccordion Multi="true">
                                @foreach (ProjectItem item in itemlList)
                                {
                                    <MatExpansionPanel Id="@item.ProjectItemId.ToString()">
                                        <MatExpansionPanelSummary>
                                            <MatExpansionPanelHeader>                                                
                                                <h6>@item.ItemNumber</h6>
                                            </MatExpansionPanelHeader>
                                            <MatExpansionPanelSubHeader>@item.Name</MatExpansionPanelSubHeader>
                                        </MatExpansionPanelSummary>
                                        <MatExpansionPanelDetails>
                                            <CascadingValue Value="item" Name="ProjectItem">
                                                <CascadingValue Value="project" Name="Project">                                        
                                                    <ItemDetails></ItemDetails>                                        
                                                </CascadingValue>
                                            </CascadingValue>
                                        </MatExpansionPanelDetails>
                                    </MatExpansionPanel>
                                }
                            </MatAccordion>
                        }
                    }
                <!--<div class="btn-group" role="group">-->
                    @*<button class="btn btn-info" @onclick="@(() => OpenDataView())">Itens Reposição</button>*@
                    <!--<button class="btn btn-info" @onclick="@(() => EditItem(item))">Editar</button>
                    <button class="btn btn-outline-primary" @onclick="@(() => DuplicateItem(item))">Duplicar</button>
                    <a class="btn btn-success" href="@*@item.FileLink.FilePath*@"
                       role="button" aria-pressed="true" target="_blank">Acessar</a>
                    <button class="btn btn-danger" @onclick="@(() => DeleteItem(item.ProjectItemId))">Excluir</button>
                </div>-->                
            </div>
        </div>
    </div>
</div>
